[submodule "Rock_Paper_Scissors"]
	path = Rock_Paper_Scissors
	url = https://github.com/Sanskargupta0/Rock_Paper_Scissors.git
[submodule "Memory-Game"]
	path = Memory-Game
	url = https://github.com/Sanskargupta0/Memory-Game.git
[submodule "Sound-Game"]
	path = Sound-Game
	url = https://github.com/Sanskargupta0/Sound-Game
[submodule "Whac-a-mole"]
	path = Whac-a-mole
	url = https://github.com/Sanskargupta0/Whac-a-mole.git
